.git
.github
.gitignore
.gitattributes
.env
.env.*
!.env.example
.editorconfig
.idea
.vscode
node_modules
vendor
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
tests
*.log
*.md
README.md
phpunit.xml
docker-compose*.yml
.dockerignore
Dockerfile
*.sql
*.sqlite
*.sqlite-journal
